# Ignore everything in data, artifacts, and metrics
/data/*
/artifacts/*
/metrics/*

# Allow the folders themselves
!data/
!artifacts/
!metrics/

# Allow DVC pointer files inside those folders
!data/*.dvc
!artifacts/*.dvc
!metrics/*.dvc

# Ignore ipynb checkpoints
.ipynb_checkpoints/
scripts/.ipynb_checkpoints/*
